<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- NAV SECTION START  -->
    <div class="container">
        <div class="row">
            <div class="col my-4">
                <nav class="navbar bg-body-tertiary fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">GraphicsVerse</a>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- NAV SECTION END  -->

    <!-- MAIN SECTION START -->
    <div class="container ">
        <div class="row">
            <div class="col-3 my-3">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1">Item 1</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                        </nav>
                        <a class="nav-link" href="#item-2">Item 2</a>
                        <a class="nav-link" href="#item-3">Item 3</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                        </nav>
                    </nav>
                </nav>
            </div>

            <div class="col-9 my-3">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div id="item-1">
                        <h4>Item 1</h4>
                        <p>...</p>
                    </div>
                    <div id="item-1-1">
                        <h5>Item 1-1</h5>
                        <p>...</p>
                    </div>
                    <div id="item-1-2">
                        <h5>Item 1-2</h5>
                        <p>...</p>
                    </div>
                    <div id="item-2">
                        <h4>Item 2</h4>
                        <p>...</p>
                    </div>
                    <div id="item-3">
                        <h4>Item 3</h4>
                        <p>...</p>
                    </div>
                    <div id="item-3-1">
                        <h5>Item 3-1</h5>
                        <p>...</p>
                    </div>
                    <div id="item-3-2">
                        <h5>Item 3-2</h5>
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN SECTION END -->



    <!-- FOOTER SECTION START -->
    <!--      
    <footer class="foot my-auto bg-black">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 my-4">
                    <div class="d-flex gap-3">
                        <img src="{% static 'images/logo.png' %}" alt="" height="30px" width="30px">
                        <h4 class="fw-bold ">Sujal Maharjan</h4>
                    </div>
                    <p>I am a Cumputer Science student, learning and developing websites using Python and Django </p>
                    <p>Copyright &copy Sujal Maharjan</p>
                    <p>Connect me on Ifosuz77@gmail.com</p>
                </div>

                <div class="col-12 col-md-4 col-lg-2 my-4">
                    <ul>
                        <h3 class="fw-semibold">Links</h3>
                        <li class="list-group"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="list-group"><a class="nav-link active" aria-current="page" href="#">My Portfolio</a>
                        </li>
                        <li class="list-group">My Team</li>
                        <li class="list-group">Our Services</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 my-4">
                    <ul>
                        <h3 class="fw-semibold">Guides</h3>
                        <li class="list-group">Getting Started</li>
                        <li class="list-group">Starter Templates</li>
                        <li class="list-group">Webpack</li>
                        <li class="list-group">Parcel</li>
                        <li class="list-group">Vite</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 my-4">
                    <ul>
                        <h3 class="fw-semibold">Projects</h3>
                        <li class="list-group">Bootstrap 5</li>
                        <li class="list-group">Bootstrap 4</li>
                        <li class="list-group">Icons</li>
                        <li class="list-group">RFS</li>
                        <li class="list-group">Examples repo</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 my-4">
                    <ul>
                        <h3 class="fw-semibold">Community</h3>
                        <li class="list-group">Issues</li>
                        <li class="list-group">Discussions</li>
                        <li class="list-group">Corporate sponsors</li>
                        <li class="list-group">Open Collective</li>
                        <li class="list-group">Stack Overflow</li>
                    </ul>
                </div>
            </div>
            <p class="text-center">&copy All Rights Reserved <span>Sujal</span></p>
        </div>
        
    </footer> -->

    <!-- FOOTER SECTION END -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>